{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
    <div class="border border-success mx-2 p-3 row">
        <div class="col-12 col-sm-6">
            Hello,
            <span class="text-primary">
                {% if username %}
                    {{username}}
                {% else %}
                    guest
                {% endif %}
            </span>
            !
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-end">
            {% if username %}
                <a class="btn btn-primary mr-2" href="accounts/logout">Log out</a>
            {% else %}
                <a class="btn btn-primary mr-2" href="accounts/login">Log in</a>
                <a class="btn btn-success" href="accounts/signup">Sign up</a>
            {% endif %}
        </div>
    </h2>
{% endblock %}
